In [19]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join('..', 'src')))
%matplotlib inline

In [20]:
%load_ext autoreload
%autoreload 2
from data import ApiFetcher

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
api = ApiFetcher(starting_year=2019, ending_year=2025)
df = api.get_dataframe('leaguegamelog')
df.head()

,home_fga,away_fga,home_fg_pct,away_fg_pct,home_fg3a,away_fg3a,home_fg3_pct,away_fg3_pct,home_oreb,away_oreb,...,away_blk,home_tov,away_tov,home_pf,away_pf,home_pts,away_pts,date,home_team_id,away_team_id
0,103,102,0.408,0.422,40,45,0.350,0.422,16,16,...,9,17,19,24,34,130,122,2019-10-22,27,18
1,81,85,0.519,0.435,31,33,0.355,0.394,11,9,...,7,14,15,25,24,112,102,2019-10-22,12,13
2,86,88,0.430,0.375,30,34,0.300,0.265,7,10,...,2,13,16,18,15,94,85,2019-10-23,21,5
3,76,93,0.461,0.398,36,41,0.306,0.268,5,11,...,3,20,17,22,32,108,100,2019-10-23,6,29
4,88,105,0.511,0.467,44,30,0.523,0.300,9,20,...,4,19,12,18,20,126,125,2019-10-23,3,4

In [ ]:
df = api.get_dataframe('boxscoreadvanced')
df.head()